<div class="wrapper">
    <div class="messages">
        <div class="message out">
            <div class="author">
                Илья
            </div>
            <div class="text">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                Nihil aut sapiente explicabo earum sequi voluptas iure quod temporibus magni, eligendi officiis. 
                Veritatis aut itaque voluptatem, recusandae commodi rem fuga quam.
            </div>
            <div class="datetime">
                16.02.2021
            </div>
        </div>
        <div class="message out">
            <div class="author">
                Илья
            </div>
            <div class="text">
                Всем хаю хай
            </div>
            <div class="datetime">
                16.02.2021
            </div>
        </div>
        <div class="message in">
            <div class="author">
                Илья
            </div>
            <div class="text">
                Всем хаю хай
            </div>
            <div class="datetime">
                16.02.2021
            </div>
        </div>
        <div class="message in">
            <div class="author">
                Илья
            </div>
            <div class="text">
                Всем хаю хай
            </div>
            <div class="datetime">
                16.02.2021
            </div>
        </div>
        <div class="message out">
            <div class="author">
                Илья
            </div>
            <div class="text">
                Всем хаю хай
            </div>
            <div class="datetime">
                16.02.2021
            </div>
        </div>
        <div class="message in">
            <div class="author">
                Илья
            </div>
            <div class="text">
                Всем хаю хай
            </div>
            <div class="datetime">
                16.02.2021
            </div>
        </div>
        <div class="message in">
            <div class="author">
                Илья
            </div>
            <div class="text">
                Всем хаю хай
            </div>
            <div class="datetime">
                16.02.2021
            </div>
        </div>
        <div class="message in">
            <div class="author">
                Илья
            </div>
            <div class="text">
                Всем хаю хай
            </div>
            <div class="datetime">
                16.02.2021
            </div>
        </div>
        <div class="message in">
            <div class="author">
                Илья
            </div>
            <div class="text">
                Всем хаю хай
            </div>
            <div class="datetime">
                16.02.2021
            </div>
        </div>
    </div>
    <div class="input-container">
        <input class="message-input" type="text" placeholder="Input your message">
        <button class="send-button" mat-raised-button color="accent">Send</button>
    </div>
</div>